/* goole font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.block {
    display: block;
}

p {
    color: #727272;
    margin: 16px 0;
}

img {
    width: 100%;
    border-radius: 8px;
}

/* Shared Styles */

.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-primary {
    color: rgba(19, 19, 19, 1);
}

.btn-primary {
    color: white;
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 16px 0;
}

.btn-primary:hover {
    color: #424242;
    background: white;
}

/* header section */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0 16px;
    margin-bottom: 5.5rem;
}

/* navbar section */
nav, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
}
ul li {
    list-style: none;
    margin-right: 24px;
}

ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

nav, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner section */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 100px;
}

.banner-img img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

/* Team section */

#team {
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 700px;
}

.team-content {
    max-width: 540px;
    margin-left: 75px;
}

.team-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 8px;
}

/* Facts Section */
#facts {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.fact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 50px;
}

.fact-content {
    max-width: 540px;
}

.fact-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}
.card img {
    width: 45.2px;
    height: 45.2px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 40px;
}

.card h3 {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
    margin-top: 16px;
}

/* Sponsor Section */
#sponsor {
    padding: 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.sponsor-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.sponsor-content p {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

.sponsor-img img {
    width: 165px;
}

.sponsor-img {
    display: grid;
    gap: 200px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}






/* Responsive Design */

/* Responsive for mobile */
@media screen and (max-width: 576px) {
    /* Shared styles */
    .btn-primary {
        padding: 10px 15px;
        margin: 0;
        font-size: 0.7rem;
    }
    .block {
        display: inline;
    }
    p {
        font-size: 0.8rem;
    }
    /* header */
    nav {
        flex-direction: column;
        gap: 24px;
        padding-top: 25px;
    }
    .nav-title {
        font-size: 1.5rem;
    }
    ul li a {
        font-size: 0.8rem;
    }
    ul li {
        margin-right: 1rem;
    }

    .banner-title {
        font-size: 2rem;
        margin-top: 1.25rem;
    }

    /* Team section */
    #team {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .team-content {
        margin: 20px 0;
    }
    .team-title {
        font-size: 1.8rem;
    }
    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }
    /* Facts Section */
    .fact-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* sponsor section */
    .sponsor-img {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
}

/* medium size devie */
@media screen and (min-width:576px) and (max-width:992px) {
    /* Team Section */
    #team {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .team-content {
        margin: 20px 0;
        max-width: 100%;
    }

    /* Facts Section */
    .fact-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* sponsor section */
    .sponsor-img {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 80px;
    }
}